<link rel="stylesheet" href="/css/developers_slide_show.css">
<script type="module" defer src="/scripts/slide_show_devs.js"></script>
<section class="container">
    <div class="slide_show_developer">
        <p>EXPLORE DEVELOPERS WORK</p>
        <button class="prev">&#10094;</button>
        <div class="slides_container_developer">
            <%for(let i = 0; i < developers.length; i++){%>
                <a href="/developers/<%=developers[i].id%>" class="slide_developer" style="background-image: url('https://img.freepik.com/free-vector/gradient-abstract-purple-background_23-2149121882.jpg?t=st=1743856567~exp=1743860167~hmac=9e1437865fd52f07d58fcf85fc4ecada27c37139278288974b34add3cee8f2c5&w=996');">
                    <div class="portrait">
                        <img src="/images/cube-outline.svg" alt="developer's icon picture.">
                    </div>
                    <p><%=developers[i].name%></p>
                    <p><%=developers[i].address%></p>
                    <p><%=developers[i].email%></p>
                    <p><%=developers[i].phone%></p>
                </a>
            <%}%> 
        </div>
        <button class="next">&#10095;</button>  
</section>