<link rel="stylesheet" href="/css/devs_list.css">
<section class="container">
    <div class="devs">
        <%developers.map((dev)=>{%>
            <a href="/developers/<%=dev.id%>" class="dev">
                <div class="filler">
                    <div class="prof">
                        <div class="prof_img">
                            <img src="/images/cube-outline.svg" alt="">
                        </div>
                        <h4><%=dev.name%></h4>
                    </div>
                    <div class="dev_details">
                        <p><%=dev.address%></p>
                        <p><%=dev.email%></p>
                        <p><%=dev.phone%></p>
                    </div>
                </div>
            </a>
        <%})%>
    </div>
</section>