<!DOCTYPE html>
<html lang="en">
    <%-include("partials/head.ejs")%>
    <%-include("partials/header.ejs")%>
<body>
    <%-include("partials/full_image.ejs")%>
    <section class="container">
        <p class="subheader">Explore Works From <%=banner.title%></p>
    </section>
    <%-include("partials/games_list.ejs")%>
</body>
</html>